version: '3.8'

services:
  # The Traffic Controller
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: traffic-controller
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./npm-data:/data
      - ./npm-letsencrypt:/etc/letsencrypt

  backend:
    container_name: puckoff-backend
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    env_file:
      - .env
    restart: always

  frontend:
    container_name: puckoff-frontend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL}
        - REACT_APP_FIREBASE_API_KEY=${REACT_APP_FIREBASE_API_KEY}
        - REACT_APP_FIREBASE_AUTH_DOMAIN=${REACT_APP_FIREBASE_AUTH_DOMAIN}
        - REACT_APP_FIREBASE_PROJECT_ID=${REACT_APP_FIREBASE_PROJECT_ID}
        - REACT_APP_FIREBASE_STORAGE_BUCKET=${REACT_APP_FIREBASE_STORAGE_BUCKET}
        - REACT_APP_FIREBASE_MESSAGING_SENDER_ID=${REACT_APP_FIREBASE_MESSAGING_SENDER_ID}
        - REACT_APP_FIREBASE_APP_ID=${REACT_APP_FIREBASE_APP_ID}
    # Port 80 is now internal only (accessed by traffic-controller)
    expose:
      - "80"
    depends_on:
      - backend
    restart: always
